/* Content Header */


.card {
    width: 85vw;
    margin-left: 0.4vw;
    /* margin-top: 5vw; */
    border-radius: 0;
    height: 23vh;
    /* position: relative; */
  }
  .main_con{
    /* grid-area: con; */
    margin-left: 14.1vw;
    margin-top: 7px;
  }
  
  .card-body {  
    background: #04AA6D;
    height: 25vh;
  }
  
  .card-title {
    font-weight: 700;
  }
  
  
  /* Form content */
  .res-form {
    position: absolute;
    padding: 5%;
    width: 78vw;
    margin-left: 3.5svw;
    margin-top: -7vh;
    background: white;
    height: 72%;
    
  }
  
  .form-box {
    margin-top: -5vh;
    margin-left: -4vw;
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-box>div {
    margin-left: 5vw;
  }
  
  label {
    font-weight: 500;
  }
  
  .form-control {
    width: 25vw;
    background-color: #E8E6E6;
  }
  
    
  .form-button {
    padding: 5px;
    width: 7vw;
    background: #04AA6D;
    color: white;
    border-radius: 10px;
    margin-top: 5vh;
    opacity: 0.8;
  }
  
  .Submit_buttons{
    gap: 20px;
  }
 
  textarea::placeholder{
    position: absolute;
    
    /* left: 50%; */
    /* transform: translateY(-50%); Adjust to vertically center */
    /* transform: translateX(50%); Adjust to vertically center */
    /* color: #999; */
  }